<div class="container mt-5 user_show">
  <div class="row user_top">
    <div class="col-sm-12 col-md-5 user_top__icon">
      <% if @user.image? %>
        <img src='<%= @user.image.url %>' class="rounded-circle user_top__icon--image" alt="ユーザーアイコン">
      <% else %>
        <%= image_tag asset_path('default.png'), class: "rounded-circle user_top__icon--image", alt: "ユーザーアイコン" %>
      <% end %>
    </div>
    <div class="col-sm-12 col-md-7 user_top__item">
      <p class="user_top__item__name"><%= @user.name %></p>
      <p><%= "フレンドコード：#{@user.friend_code}" %></p>
      <div>
        <%= render "follow_form" %>
      </div>
      <% if user_signed_in? && current_user.id == @user.id %>
        <%= link_to edit_user_registration_path, method: :get, class: "user_top__item__edit" do %>
          <p>編集</p>
        <% end %>
      <% end %>
    </div>
  </div>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a href="#photo1" class="nav-link active" data-toggle="tab">
        <div class="user-status">
          <span class="user-status__name">投稿</span>
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a href="#photo2" class="nav-link" data-toggle="tab">
        <div class="user-status">
          <span class="user-status__name">いいね</span>
        </div>
      </a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="photo1">
      <%= render "posts/post", posts: @posts %>
    </div>
    <div class="tab-pane" id="photo2">
      <%= render "posts/post", posts: @user.liked_posts %>
    </div>
  </div>
</div>
