<div class="wrapper">
  <header>
    <div class="header__box">
      <%= link_to "", class: "header__box__logo" do %> 
        <%= image_tag '/image/logo_2575767_web.png', class: "header__box__logo--image", alt: 'タイトルロゴ' %>
      <% end %>
      <ul class="header__box__list">
        <li class="header__box__list__each">
          <%= link_to "", class: "icon-link" do %>
            <%= icon("fas", "list") + "投稿一覧" %>
          <% end %>
        </li>
        <li class="header__box__list__each">
          <%= link_to "", class: "icon-link" do %>
            <%= icon("fas", "edit") + "新規投稿" %>
          <% end %>
        </li>
        <li class="header__box__list__each">
          <%= link_to "", class: "icon-link" do %>
            <%= icon("fas", "user") + "ユーザー名" %>
          <% end %>
        </li>
      </ul>
      <%# 後でform_withにする %>
      <div class="form">
        <form action="#" method="GET" class="form__search">
          <input class="form__search--text" type="text" placeholder="募集検索">
          <input class="form__search--submit" type="submit" value="検索">
        </form>
      </div>
    </div>
  </header>

  <div class="main">
    <div class="container main__content">
      <div class="main__content__title">
        <h2 class="title_name">最近の募集</h2>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-3 main__content__box">
          <div class="rounded main__content__box__field">
            <p class="main__content__box__field--name">ユーザー名</p>
            <p class="main__content__box__field--title">ゲームタイトル</p>
            <p class="main__content__box__field--content">内容</p>
            <p class="main__content__box__field--date">投稿日</p>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 main__content__box">
          <div class="rounded main__content__box__field">
            <p class="main__content__box__field--name">ユーザー名</p>
            <p class="main__content__box__field--title">タイトル</p>
            <p class="main__content__box__field--content">内容</p>
            <p class="main__content__box__field--date">投稿日</p>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 main__content__box">
          <div class="rounded main__content__box__field">
            <p class="main__content__box__field--name">ユーザー名</p>
            <p class="main__content__box__field--title">タイトル</p>
            <p class="main__content__box__field--content">内容</p>
            <p class="main__content__box__field--date">投稿日</p>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 main__content__box">
          <div class="rounded main__content__box__field">
            <p class="main__content__box__field--name">ユーザー名</p>
            <p class="main__content__box__field--title">タイトル</p>
            <p class="main__content__box__field--content">内容</p>
            <p class="main__content__box__field--date">投稿日</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="footer__item">
      <p class="item-p">Copyright © 2020 PLAYGAMES All Rights Reserved.</p>
    </div>
  </footer>
</div>