<div class="container post_show">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <% if user_signed_in? && current_user.id == @post.user_id %>
        <div class="post_show__details">
          <%= link_to "編集", "/posts/#{@post.id}/edit", method: :get, class:'post_show__details--edit' %>
          <%= link_to "削除", "/posts/#{@post.id}", method: :delete, class:'post_show__details--delete' %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 offset-md-2 post_show__area">
      <div class="post_show__area__user">
        <%= link_to user_path(@post.user_id), class: "post_show__area__user__link" do %>
          <% if @post.user.image? %>
            <img src='<%= @post.user.image.url %>' class="rounded-circle user_icon" alt="ユーザーアイコン">
          <% else %>
            <img src="/assets/default.png" class="rounded-circle user_icon" alt="ユーザーアイコン">
          <% end %>
          <span class="user_icon_name"><%= @post.user.name %></span>
        <% end %>
        </a>
      </div>
      <p><%= @post.created_at.to_s(:datetime_jp) %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="show__box">
        <div class="show__box__content">
          <%= icon("fas", "gamepad") + " タイトル" %> 
          <p class="show__box__content__list"><%= @post.title %></p>
        </div>
        <div class="show__box__content">
          <%= icon("fas", "scroll") + " 募集内容" %>
          <%= simple_format(@post.body, class: "show__box__content__list body_height") %>
        </div>
        <div class="show__box__content">
          <%= icon("fas", "child") + " 招待コード" %>
          <p class="show__box__content__list"><%= @post.invitation %></p>
        </div>
        <div class="show__box__image">
           <% if @post.image? %>
            <p class="show__box__image__info">※画像はクリックで拡大<p>
            <%=  link_to @post.image.url, 'data-lightbox': @post.image do %>
              <%= image_tag @post.image.url %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="comments">
        <%= icon("far", "comment-dots") %>
        <span>コメント一覧</span>
        <% if @comments %>
          <div class="comments__area">
            <% @comments.each do |comment| %>
                <p class="comments__area__comment">
                  <strong>
                    <%= link_to user_path(comment.user_id) do %>
                      <% if comment.user.image? %>
                        <img src='<%= comment.user.image.url %>' class="rounded-circle user_icon" alt="ユーザーアイコン">
                      <% else %>
                        <img src="/assets/default.png" class="rounded-circle user_icon" alt="ユーザーアイコン">
                      <% end %>
                      <%= "#{comment.user.name}:" %>
                    <% end %>
                  </strong>
                  <%= comment.text %>
                </p>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="comment_box">
        <% if current_user %>
          <%= form_with(model: [@post, @comment], local: true) do |f| %>
            <div class="form-group">
              <%= f.text_area :text, placeholder: "コメントを入力", rows: "2", class: "form-control" %>
            </div>
            <div class="form-group text-center">
              <%= f.submit "コメントを送信", class: "btn btn-primary" %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>